<html>
<head><title>Abi Goes Tallinn 2016 matkaehdot</title></head>
  <body>
<p>
    <em>Noudatamme Kilpailu- ja kuluttajaviraston yleisten valmismatkaehtojen kohtia 1-17 (</em>
    <a href="http://www.kkv.fi/"><em>www.kkv.fi</em></a>
    <em>).</em>
    <em>Kohdassa 18 sitoudutaan vastuuvapautuslomakkeen allekirjoittamiseen.</em>
</p>
<p>
    1.1. Yleiset valmismatkaehdot
</p>
<p>
    Näitä sopimusehtoja sovelletaan sellaisiin yli kaksi vuorokautta kestäviin valmismatkoihin, jotka on hankittu pääasiassa yksityiseen tarkoitukseen, joihin
    sisältyy ainakin kuljetus ja majoitus, joita myydään tai tarjotaan myytäväksi Suomessa ja joiden järjestäjällä on toimipaikka Suomessa. Majoituksena
    pidetään myös majoitusta perheessä.
</p>
<p>
    1.2. Lisäehdot
</p>
<p>
    Matkanjärjestäjällä on oikeus täydentää ja täsmentää yleisiä valmismatkaehtoja lisäehdoilla, jotka eivät saa olla matkustajan vahingoksi ristiriidassa
    näiden yleisten ehtojen kanssa.
</p>
<p>
    1.3. Erityisehdot
</p>
<p>
    Matkanjärjestäjällä on oikeus käyttää näistä sopimusehdoista poikkeavia erityisehtoja, jos erityisehtojen käyttö on perusteltavissa matkan erityisluonteen,
    kuljetusmuotoa koskevien poikkeuksellisten määräysten (kuten reittilentojen varaus- ja myyntiehdot), matkan erityisluonteesta johtuvien poikkeuksellisten
    majoitusehtojen tai matkakohteen erityisolojen vuoksi. Erityisehdot eivät saa olla matkustajan vahingoksi ristiriidassa valmismatkalain kanssa.
</p>
<p>
    Matkanjärjestäjän, joka soveltaa peruutustapauksissa erityisehtoja ja veloittaa niiden perusteella matkustajalta todelliset peruutuskulut, on tarvittaessa
    esitettävä selvitys siitä, miten ne kohdentuvat matkan eri osiin.
</p>
<p>
    2. Valmismatkasopimus ja vastuu sopimuksen toteuttamisesta
</p>
<p>
    2.1. Matkanjärjestäjä vastaa matkustajalle siitä, että valmismatka on sopimuksen mukainen. Vastuu koskee myös matkanjärjestäjän sopimuksen täyttämiseksi
    käyttämien elinkeinonharjoittajien suorituksia (esimerkiksi kuljetusyhtiöt ja hotellit).
</p>
<p>
    2.2. Matkanvälittäjä vastaa samalla tavoin kuin matkanjärjestäjä matkustajalle annettavista tiedoista ja sopimuksen täyttämisestä. Tällaista vastuuta
    välittäjälle ei kuitenkaan synny, jos matkustaja sopimusta tehtäessä tietää, kuka on matkanjärjestäjä ja että vain tämä on vastuussa sopimusvelvoitteiden
    täyttämisestä.
</p>
<p>
    2.3. Matkustajalle on ennen sopimuksen päättämistä annettava tieto siitä, onko matkanjärjestäjä tai matkanvälittäjä asettanut valmismatkaliikkeistä
    annetussa laissa tarkoitetun vakuuden ja kattaako vakuus tarjotun matkan.
</p>
<p>
    2.4. Matkustaja voi täyttää näiden sopimusehtojen mukaisen ilmoitusvelvollisuutensa ottamalla yhteyttä joko matkanjärjestäjään tai välittäjään.
</p>
<p>
    Valmismatkan virheestä ilmoittaminen on tehtävä kohdan 13.4. mukaisesti.
</p>
<p>
    2.5. Sopimuksen sisältö
</p>
<p>
    Matkaan sisältyvät ne palvelut ja järjestelyt, joista on sovittu matkustajan ja matkanjärjestäjän kesken. Sopimuksen sisältöä arvioitaessa otetaan huomioon
    kaikki etukäteen kirjallisena tai sähköisenä ilmoitetut sopimusehdot ja muut matkanjärjestäjän esitteissä, ja muussa markkinoinnissa sekä
    matka-asiakirjoissa olevat tiedot.
</p>
<p>
    2.6. Matkustusasiakirjat ja matkavakuutus
</p>
<p>
    Matkanjärjestäjän on ennen sopimuksen päättämistä annettava matkustajalle yleiset tiedot tarvittavista matkustusasiakirjoista ja niiden hankkimiseen
    yleensä tarvittavasta ajasta.
</p>
<p>
    Matkustajan on matkanjärjestäjän antamia ohjeita noudattaen itse huolehdittava matkalla tarvitsemistaan asiakirjoista (passi, viisumi, rokotustodistukset)
    sekä tarkistettava niiden ja lentolipun oikeellisuus ja vastaavuus toisiinsa. Matkustajan on tarkistettava myös kuljetusten lähtöajat. Jos matkanjärjestäjä
    on täyttänyt tiedonantovelvollisuutensa, se ei vastaa matkustajalle aiheutuvasta vahingosta, mikäli matka estyy tai keskeytyy puutteellisten tai
    virheellisten matka-asiakirjojen (esim. rikkinäisen passin) tai viisumin epäämisen tai puuttumisen vuoksi.
</p>
<p>
    Matkanjärjestäjä ei ole vastuussa matkustajan matkalla tarvitsemista vapaaehtoisista vakuutuksista vaan matkustaja vastaa itse vakuutusturvastaan ja sen
    kattavuudesta esim. peruutusturvan osalta.
</p>
<p>
    2.7. Matkakohteen mahdolliset turvallisuusriskit
</p>
<p>
    Matkanjärjestäjän on ennen matkaa huomautettava matkustajalle matkaan mahdollisesti liittyvistä erityisistä riskeistä sekä matkaa ja oleskelua koskevista
    terveysmääräyksistä. Matkustajalle on lisäksi annettava ohjeita mahdollisesti sattuvan sairauden, onnettomuuden tai muun vastaavan tapahtuman varalta.
</p>
<p>
    Matkustajan turvallisuudesta ulkomailla vastaavat matkustajan itsensä ohella ensisijaisesti kyseisen maan viranomaiset. Matkustajan on toimittava kohteen
    olosuhteet huomioon ottaen.
</p>
<p>
    Kohteen turvallisuutta ja muita kohdetta koskevia olennaisia tietoja on saatavissa ulkoministeriöstä ja terveyden ja hyvinvoinnin laitoksesta; esim.
    kyseisten tahojen Internet-sivustoilta <a href="http://www.formin.fi/">www.formin.fi</a> ja <a href="http://www.thl.fi/">www.thl.fi</a> . Matkustajan on
    syytä tutustua kohteen olosuhteisiin mm. edellä mainittujen tietojen avulla.
</p>
<p>
    2.8. Avustamisvelvollisuus
</p>
<p>
    Jos matkustaja matkan aikana sairastuu, joutuu onnettomuuteen tai rikoksen uhriksi taikka kärsii muun vahingon, on matkanjärjestäjän avustettava häntä
    sairaanhoidon tai ennenaikaisen paluukuljetuksen järjestämisessä, rikoksen tai vahingon selvittelyssä ja muissa tarpeellisissa toimenpiteissä. Matkustaja
    vastaa itse näiden tai muiden tilanteen vaatimien (esim. uusi kuljetus, ylimääräiset hotelliyöpymiset sekä matkanjärjestäjälle mahdollisesti tulevat
    ylimääräiset kulut) erityisjärjestelyiden kuluista, joihin matkanjärjestäjä hänen tilanteensa vuoksi on ryhtynyt. Jos matkan aikana ilmenee kohdassa
    11.1.b. tarkoitettu tilanne, matkanjärjestäjän on vastaavasti avustettava matkustajaa ja pyrittävä mahdollisuuksien mukaan rajoittamaan matkustajalle
    aiheutuvaa vahinkoa ja haittaa.
</p>
<p>
    Jos matkanjärjestäjällä ei ole matkakohteessa henkilökuntaa, joka voi avustaa matkustajaa, matkanjärjestäjän on ennen matkaa ilmoitettava matkustajalle
    matkanjärjestäjän tai -välittäjän paikallisen edustajan nimi ja yhteystiedot tai vastaavat tiedot paikallisista toimipaikoista, joihin matkustaja voi apua
    tarvitessaan ottaa yhteyttä. Jos tällaisia edustajia tai toimipaikkoja ei ole, matkustajalle on ilmoitettava, miten hän tarvittaessa saa yhteyden
    matkanjärjestäjään tai välittäjään.
</p>
<p>
    2.9. Matkustajan velvollisuudet ja vastuu
</p>
<p>
    2.9.1. Matkustajan on noudatettava matkan aikana viranomaisten, matkanjärjestäjän tai matkanjärjestäjän edustajan antamia matkan toteuttamiseen liittyviä
    ohjeita ja määräyksiä sekä hotellien ja kuljetusvälineiden järjestyssääntöjä.
</p>
<p>
    2.9.2. Matkustaja ei saa häiritä käyttäytymisellään muita matkustajia. Jos matkustaja olennaisesti laiminlyö velvollisuutensa, voidaan hänen matkalle
    lähtönsä evätä tai hänet voidaan poistaa matkalta. Tällöin matkustajalla ei ole oikeutta maksun palautukseen ja hän vastaa itse kaikista kotimatkastaan
    aiheutuvista kuluista.
</p>
<p>
    2.9.3. Matkustaja on vastuussa vahingoista, jotka hän tahallisella tai varomattomalla menettelyllään aiheuttaa matkanjärjestäjälle tai kolmansille
    osapuolille muun muassa rikkomalla yllämainittuja määräyksiä.
</p>
<p>
    2.9.4. Matkustajan tulee ilmoittaa matkanjärjestäjälle sellaiset yhteystiedot, joista hänet tavoittaa ennen matkaa ja matkan aikana.
</p>
<p>
    3. Sopimuksen syntyminen ja hinnan maksaminen
</p>
<p>
    3.1. Matkustajaa sitova sopimus syntyy, kun matkanjärjestäjän määräämä varausmaksu on maksettu matkanjärjestäjän määräämänä ajankohtana.
</p>
<p>
    3.2. Matkan hinta kokonaisuudessaan on maksettava matkanjärjestäjän ilmoittamana tai muuna sovittuna määräaikana. Maksettuaan matkan hinnan matkustajalla
    on oikeus hyvissä ajoin ennen matkan alkamista saada matkaan liittyvät asiakirjat.
</p>
<p>
    4. Matkustajan oikeus peruuttaa matka ilman erityistä syytä
</p>
<p>
    Matkustaja voi peruuttaa matkan ilman erityistä syytä seuraavasti:
</p>
<p>
    4.1.a) Viimeistään 28 vuorokautta ennen matkan alkua maksamalla matkanjärjestäjälle etukäteen mainitut toimistokulut.
</p>
<p>
    b) Myöhemmin kuin 28 vuorokautta mutta viimeistään 14 vuorokautta ennen matkan alkua maksamalla varausmaksun.
</p>
<p>
    c) Myöhemmin kuin 14 vuorokautta mutta viimeistään 48 tuntia ennen matkan alkua maksamalla 50 % matkan hinnasta.
</p>
<p>
    d) Jos matka peruutetaan myöhemmin kuin 48 tuntia ennen matkan alkua, matkanjärjestäjällä on oikeus periä koko matkan hinta.
</p>
<p>
    4.2. Jos matka on hinnoiteltu sen mukaan, että kahden tai useamman matkustajan seurue majoitetaan samaan huoneeseen tai huoneistoon ja joku seurueen
    jäsenistä peruuttaa matkansa, on matkanjärjestäjällä oikeus periä peruutuksen vuoksi kohtuullinen lisämaksu. Matkansa peruuttanut ja matkalle osallistuvat
    seurueen jäsenet vastaavat yhteisvastuullisesti lisämaksun maksamisesta matkanjärjestäjälle.
</p>
<p>
    4.3. Jos matkaa ei peruuteta eikä matkustaja saavu sovitulle lähtöpaikalle sovittuun aikaan tai jos hän ei voi osallistua matkaan siksi, ettei hänellä
    hänen vastuullaan olevista syistä ole matkaan tarvittavia asiapapereita, kuten voimassaolevaa passia, viisumia, henkilöllisyystodistusta tai
    rokotustodistusta, hänellä ei ole oikeutta maksun palautukseen.
</p>
<p>
    4.4. Peruutuskulut voivat poiketa kohdissa 4.1. ja 5.1. mainituista, jos matka on sellainen, johon sovelletaan erityisehtoja (kohta 1.3.). Peruutuskulujen
    määrä tai niiden määräytymisperuste on ilmoitettava erityisehdoissa.
</p>
<p>
    5. Matkustajan oikeus peruuttaa matka ylivoimaisen esteen vuoksi
</p>
<p>
    5.1. Matkustajalla on oikeus peruuttaa matka ja saada takaisin matkasta maksettu hinta vähennettynä toimistokuluilla, jos olisi kohtuutonta vaatia häntä
    lähtemään matkalle sen vuoksi, että
</p>
<p>
    a) hän itse tai hänelle läheinen henkilö yhtäkkiä sairastuu vakavasti, joutuu vakavaan onnettomuuteen tai kuolee. Läheisenä henkilönä pidetään
    aviopuolisoa, avopuolisoa, lasta, vanhempaa, appivanhempaa, sisarusta, lastenlasta, isovanhempaa tai matkakumppania, jonka kanssa matkustaja on yhdessä
    varannut matkan ja jonka majoitus on sovittu samaan huoneeseen tai huoneistoon, tai
</p>
<p>
    b) hänelle tai matkakumppanille, jonka kanssa hän on yhdessä varannut matkan, sattuu muu odottamaton ja vakava tapahtuma, jonka vuoksi olisi kohtuutonta
    vaatia häntä lähtemään matkalle. Matkakumppanina pidetään kyseisen matkustajan lasta tai vanhempaa taikka muuta henkilöä, jonka majoitus on sovittu samaan
    huoneeseen tai huoneistoon kyseisen matkustajan kanssa. Muu odottamaton ja vakava tapahtuma on esimerkiksi merkittävä vahinko omaisuudelle, kuten asunnon
    palo.
</p>
<p>
    5.2. Matkustajan on ilmoitettava peruutuksesta viivytyksettä matkanjärjestäjälle.
</p>
<p>
    Matkalle lähdön este on osoitettava luotettavalla selvityksellä, kuten lääkärintodistuksella, poliisitutkintapöytäkirjalla tai vakuutusyhtiön lausunnolla.
    Selvitys on toimitettava markanjärjestäjälle niin pian kuin mahdollista ja viimeistään kahden viikon kuluttua peruuttamiseen oikeuttavan esteen
    ilmenemisestä, jollei määräajan noudattaminen ole matkustajalle kohtuuttoman vaikeaa.
</p>
<p>
    5.3. Jos matka on hinnoiteltu sen mukaan, että kahden tai useamman matkustajan seurue majoitetaan samaan huoneeseen tai huoneistoon ja joku seurueen
    jäsenistä peruuttaa matkansa kohdassa 5.1. tarkoitetun ylivoimaisen esteen takia, ei matkanjärjestäjällä ole oikeutta 4.2. kohdan mukaiseen lisämaksuun.
    Matkanjärjestäjällä on kuitenkin oikeus tehdä muun seurueen majoitukseen peruutuksista johtuvat tarkoituksenmukaiset muutokset, jos matkan taso ei laske
    sovitusta.
</p>
<p>
    5.4. Peruutuskulujen osalta sovelletaan myös kohtaa 4.4.
</p>
<p>
    6. Matkustajan oikeus peruuttaa matka matkanjärjestäjän tekemien muutosten tai matkakohteen olojen vuoksi
</p>
<p>
    6.1. Matkustaja voi peruuttaa matkan, jos
</p>
<p>
    a) matkan alkamisen tai matkan päättymisen ajankohta siirtyy sovitusta yli 30 tunnilla,
</p>
<p>
    b) matkanjärjestäjä muutoin muuttaa olennaisesti matkajärjestelyjä. Olennaisena muutoksena pidetään esimerkiksi matkustusaikaa huomattavasti lisäävää
    kuljetusvälineen muutosta, matkakohteen muutosta tai majoituksen tasoa selvästi laskevaa muutosta,
</p>
<p>
    c) hänellä on perusteltua aihetta uskoa, ettei matkaa voida toteuttaa sovitulla tavalla tai hänen terveyttään tai henkeään vaarantamatta matkakohteessa tai
    sen läheisyydessä ilmenneiden sotatoimien, luonnonmullistuksen, lakon tai vastaavan tilanteen takia. Peruutuksen perusteita arvioitaessa otetaan huomioon
    Suomen viranomaisten kanta asiaan,
</p>
<p>
    d) hänellä on muutoin painava syy olettaa, että matkanjärjestäjän suorituksessa tulee olemaan olennainen virhe.
</p>
<p>
    6.2. Matkustajan on viivytyksettä ilmoitettava matkan peruuttamisesta matkanjärjestäjälle.
</p>
<p>
    6.3. Oikeudesta peruuttaa matka hinnankorotuksen vuoksi määrätään kohdassa 9.4.
</p>
<p>
    6.4. Peruuttaessaan matkan edellä mainituissa tapauksissa matkustajalla on oikeus saada takaisin matkan hinta. Jos peruutus johtuu muusta kuin kohdassa
    6.1.c. tarkoitusta syystä, matkustajalla on oikeus saada korvaus myös niistä menoista, jotka ovat aiheutuneet matkasta ja peruutuksen vuoksi käyneet
    hyödyttömiksi.
</p>
<p>
    Kohdissa 6.1.a, 6.1.b. ja 6.1.d. mainituissa tapauksissa matkustaja saa vaihtoehtoisesti vaatia matkanjärjestäjältä uuden vastaavan matkan alkuperäisestä
    matkasta maksamallaan hinnalla. Korvaavan matkan osalta sovelletaan lisäksi kohtaa 11.3.
</p>
<p>
    7. Matkustajan oikeus keskeyttää matka ja purkaa sopimus
</p>
<p>
    7.1. Matkustajalla on oikeus keskeyttää matka, jos
</p>
<p>
    a) matkanjärjestäjä törkeästi laiminlyö velvollisuuksiaan tai matkan toteutus muutoin osoittautuu niin virheelliseksi, ettei matka vastaa sille alun perin
    asetettua tarkoitusta. Näillä perusteilla matkustajalla on myös oikeus purkaa sopimus matkan jälkeen, tai
</p>
<p>
    b) matkan aikana ilmenee kohdassa 6.1.c. tarkoitettu tilanne.
</p>
<p>
    7.2. Keskeyttäessään matkan tai purkaessaan sopimuksen matkustajalla on oikeus saada takaisin matkan hinta ja muut matkanjärjestäjälle maksetut maksut. Jos
    matkanjärjestäjän suorituksesta on ollut matkustajalle hyötyä, matkustajan on maksettava matkanjärjestäjälle korvaus, joka vastaa suorituksen arvoa
    matkustajalle.
</p>
<p>
    7.3. Jos matkustaja keskeyttää matkan kohdassa 7.1.a. tarkoitetulla perusteella, matkanjärjestäjän on omalla kustannuksellaan tarvittaessa järjestettävä
    matkustajan paluukuljetus. Kuljetus on järjestettävä alun perin sovittua vastaavalla kuljetusvälineellä matkan lähtöpaikkaan tai muualle sovitulle
    paikkakunnalle.
</p>
<p>
    7.4. Jos matkustajalla on kohdan 7.1.a. perusteella oikeus purkaa sopimus, hän saa vaihtoehtoisesti vaatia matkanjärjestäjältä uuden vastaavan matkan
    alkuperäisestä matkasta maksamallaan hinnalla. Korvaavan matkan osalta sovelletaan lisäksi kohtaa 11.3.
</p>
<p>
    7.5. Jos matkustaja keskeyttää matkan kohdan 7.1.b. perusteella eikä matkanjärjestäjä avusta häntä kohdan 2.8. mukaisesti kotiinpaluun järjestämisessä, voi
    matkustaja itse ryhtyä tarvittaviin toimenpiteisiin. Matkustajan on kuitenkin pyrittävä rajoittamaan matkanjärjestäjän vastuulle mahdollisesti jäävien
    kustannusten määrää ja muuta vahinkoa.
</p>
<p>
    8. Matkustajan oikeus muuttaa sopimusta ja luovuttaa se toiselle
</p>
<p>
    8.1. Matkustajalla on oikeus viimeistään 28 vuorokautta ennen matkan alkua muuttaa lähtöpäivää, matkakohdetta tai hotellia maksamalla uuden matkan hinnan
    lisäksi toimistokulut. Myöhempiä muutoksia voi matkanjärjestäjä pitää matkan peruutuksena ja uuden tilaamisena.
</p>
<p>
    8.2. Matkustajalla on oikeus muuttaa varauksessa olevia matkustajatietoja tai luovuttaa sopimukseen perustuvat oikeutensa henkilölle, joka täyttää
    mahdollisesti asetetut matkalle osallistumista koskevat ehdot. Luovutuksesta tai tietojen muutoksesta on ilmoitettava matkanjärjestäjälle viimeistään 48
    tuntia ennen matkan alkamista.
</p>
<p>
    Matkanjärjestäjällä on oikeus periä kohtuullinen korvaus luovutuksesta tai tietojen muutoksesta aiheutuvista tarpeellisista toimenpiteistä. Jollei
    matkanjärjestäjä ole lisäehdoissaan muuta ilmoittanut, korvaus on toimistokulujen suuruinen. Luovuttaja ja luovutuksensaaja vastaavat yhteisvastuullisesti
    matkan hinnan ja korvauksen maksamisesta matkanjärjestäjälle.
</p>
<p>
    9. Hinnanmuutokset
</p>
<p>
    9.1. Matkanjärjestäjällä on sopimuksen päättämisen jälkeen oikeus korottaa ja vastaavasti velvollisuus alentaa sovittua matkan hintaa seuraavilla
    perusteilla:
</p>
<p>
    a) matkan hintaan vaikuttavien verojen ja muiden julkisten maksujen muutokset.
</p>
<p>
    b) kuljetuskustannusten muutos, johon matkanjärjestäjä ei ole voinut vaikuttaa ja jota matkanjärjestäjä ei ole voinut ottaa lukuun sopimusta päätettäessä,
    tai
</p>
<p>
    c) Matkan kustannuksiin vaikuttava valuuttakurssien muutos. Kuluttaja-asiamies ja Suomen matkatoimistoalan liitto ovat neuvotelleet täydentävistä ohjeista
    kurssimuutoksen laskemiseksi.
</p>
<p>
    Ohjeen mukaan kurssimuutoksen suuruus määräytyy kuusi viikkoa ennen lähtöä vallinneen valuuttakurssin mukaan. Vertailukurssina käytetään sen päivän
    valuuttakurssia, jota matkanjärjestäjä ilmoittaa esitteessään käyttäneensä hinnoittelunsa perustana. Jos matkaa ei ole markkinoitu esitteessä, on
    vertailukurssi matkustajalle viimeistään sopimusta tehtäessä ilmoitettu kurssi.
</p>
<p>
    9.2. Hinnan korotus ei saa olla kustannusten nousua suurempi. Hintaa on alennettava vähintään kustannusten laskua vastaavasti. Hinnan muutoksen on
    kuitenkin oltava vähintään 2 prosenttia saman matkan ja saman lähtöpäivän halvimpaan majoitusvaihtoehtoon perustuvasta hinnasta.
</p>
<p>
    Matkanjärjestäjän on ilmoitettava uusi hinta matkustajalle niin pian kuin mahdollista sekä kerrottava lisäksi, mikä on ollut hinnanmuutoksen peruste ja
    mitä matkapaketin osia muutos koskee.
</p>
<p>
    9.3. Matkan hintaa ei saa korottaa sovittua matkan lähtöaikaa edeltävien 21 vuorokauden aikana. Matkanjärjestäjällä ei tänä aikana ole myöskään
    velvollisuutta alentaa hintaa.
</p>
<p>
    9.4. Jos matkan hintaa korotetaan sopimuksen päättämisen jälkeen enemmän kuin 10 % kohdassa 9.2. mainitun mukaisesti laskettuna, matkustajalla on oikeus
    purkaa sopimus. Matkustajan on ilmoitettava sopimuksen purkamisesta matkanjärjestäjälle viikon kuluessa siitä, kun matkustaja sai tiedon hinnan
    korotuksesta.
</p>
<p>
    10. Matkanjärjestäjän oikeus tehdä matkaohjelmaan vähäisiä muutoksia
</p>
<p>
    10.1. Jos matkanjärjestäjä ei voi siitä riippumattomista syistä noudattaa sovittua matkasuunnitelmaa, matkanjärjestäjällä on oikeus muuttaa hotellia,
    yöpymispaikkaa, kuljetusvälinettä ja aikataulua tai tehdä matkaohjelmaan muita muutoksia, jotka eivät olennaisesti muuta matkan luonnetta. Muutoksista on
    ilmoitettava matkustajalle niin pian kuin mahdollista.
</p>
<p>
    10.2. Vähäisen osanottajamäärän vuoksi matkanjärjestäjällä on oikeus muuttaa kuljetusvälinettä, reittiä ja aikataulua, jos muutokset eivät olennaisesti
    muuta matkan luonnetta. Muutoksista on ilmoitettava matkustajalle viimeistään 14 vuorokautta ennen matkan alkua.
</p>
<p>
    10.3. Matkustaja on edellä tarkoitetuista muutoksista huolimatta velvollinen maksamaan matkan hinnan ja muut sovitut maksut ottaen kuitenkin huomioon, mitä
    kohdassa 14.2. on määrätty matkustajan oikeudesta hinnanalennukseen.
</p>
<p>
    11. Matkanjärjestäjän oikeus peruuttaa ja keskeyttää matka
</p>
<p>
    11.1. Matkanjärjestäjällä on oikeus peruuttaa matka, jos
</p>
<p>
    a) matkalle ei ole ilmoittautunut riittävästi osanottajia ja matkanjärjestäjä on matkaa koskevassa esitteessä tai muussa materiaalissa (esim.
    matkaohjelmassa tai muissa matkadokumenteissa) maininnut matkan toteuttamisen riippuvan osanottajamäärästä. Vaadittu osanottajamäärä voi koskea joko
    yksittäistä matkaa tai tiettyyn matkakohteeseen tehtävää matkasarjaa. Peruuttamisesta on ilmoitettava matkustajalle viimeistään 21 vuorokautta ennen matkan
    alkua.
</p>
<p>
    b) matkanjärjestäjän mahdollisuudet toteuttaa matka sovitulla tavalla ovat sopimuksen päättämisen jälkeen olennaisesti vaikeutuneet matkakohteessa tai sen
    läheisyydessä ilmenneiden sotatoimien, luonnonmullistuksen, lakon tai vastaavan tilanteen takia taikka jos matkaa ei muusta odottamattomasta syystä voida
    toteuttaa vaarantamatta matkustajan henkeä tai terveyttä. Peruuttamisesta on ilmoitettava matkustajalle niin pian kuin mahdollista.
</p>
<p>
    11.2. Jos kohdassa 11.1.b. mainittu tilanne syntyy matkan aikana, matkanjärjestäjällä on oikeus keskeyttää matka ja tehdä matkaohjelmaan muita
    välttämättömiä muutoksia. Matkanjärjestäjän on viivytyksettä matkan jälkeen palautettava matkustajalle saamatta jääneitä palveluksia vastaava osa matkan
    hinnasta.
</p>
<p>
    11.3. Jos matkanjärjestäjä peruuttaa matkan kohdan 11.1. perusteella, matkustaja saa vaatia uuden vastaavan matkan alkuperäisestä matkasta maksamallaan
    hinnalla, jollei korvaavan matkan järjestämisestä aiheudu matkanjärjestäjälle kohtuuttomia kustannuksia tai kohtuutonta haittaa.
</p>
<p>
    Jos korvaavan matkan hinta on alun perin sovittua hintaa alempi tai jos korvaavaan matkaan ei sisälly alun perin sovittuja palveluksia, matkustajalle on
    palautettava hinnan ero tai puuttuvia palveluksia vastaava hinnan osa.
</p>
<p>
    11.4. Peruutettuaan matkan matkanjärjestäjän on viivytyksettä palautettava matkustajan maksusuoritukset, jollei matkustaja saa kohdassa 11.3. tarkoitettua
    korvaavaa matkaa. Jos matka peruutetaan kohdassa 11.1.a. mainitulla perusteella, matkanjärjestäjän on lisäksi korvattava matkustajalle matkalle lähtöön
    välittömästi liittyneet peruuttamisen vuoksi hyödyttömiksi käyneet kulut.
</p>
<p>
    12. Matkanjärjestäjän oikeus purkaa sopimus
</p>
<p>
    Matkanjärjestäjällä on oikeus purkaa sopimus, jos matkustaja ei ole maksanut matkan hintaa viimeistään sovittuna maksupäivänä. Edellytyksenä
    matkanjärjestäjän oikeudelle purkaa sopimus on, että matkustaja on saanut kohtuullisen maksuajan. Asiakirjassa, jossa maksuaika mainitaan, on kerrottava
    matkanjärjestäjän oikeudesta purkaa sopimus maksun laiminlyönnin takia.
</p>
<p>
    13. Virhe ja virheilmoitus
</p>
<p>
    13.1. Matkanjärjestäjän suorituksessa on virhe, jos
</p>
<p>
    a) matka ei palveluksiltaan tai muilta järjestelyiltään vastaa sitä, mitä on sovittu tai voidaan katsoa sovitun,
</p>
<p>
    b) matkanjärjestäjä on laiminlyönyt antaa matkustajalle valmismatkalain edellyttämiä tietoja matkaan sovellettavista ehdoista, matkan sisällöstä,
    tarvittavista matkakustannusasiakirjoista, matkaa koskevista terveysmääräyksistä, kuljetusyhteyksistä aikatauluineen sekä muita matkustajalle tarpeellisia
    tietoja, kuten ohjeita matkan aikana mahdollisesti sattuvan sairauden, onnettomuuden tai muun vastaavan tapahtuman varalta ja tämän voidaan olettaa
    vaikuttaneen matkustajan päätöksentekoon, tai
</p>
<p>
    c) matkanjärjestäjä on laiminlyönyt kohdan 2.8. mukaisen avustamisvelvollisuutensa.
</p>
<p>
    13.2. Virheenä ei kuitenkaan pidetä sellaisia matkan kokonaisuuden kannalta vähäisiä muutoksia tai puutteita, joihin matkustaja on matkakohteen tai matkan
    luonteen perusteella voinut kohtuudella varautua.
</p>
<p>
    13.3. Virheenä ei myöskään pidetä myöhästynyttä saapumista matkakohteeseen tai aikaisempaa kotiinlähtöä, jos muutos johtuu matkanjärjestäjästä
    riippumattomasta syystä ja matkakohteessa olo lyhentyy vähintään 3 mutta alle 5 vuorokautta kestävällä matkalla enintään 6 tuntia, 5 – 8 vuorokautta
    kestävällä matkalla enintään 8 tuntia ja yli 8 vuorokautta kestävällä matkalla enintään 12 tuntia. Jos matkan kesto alittaa 3 vuorokautta, virheen
    arviointi tehdään tapauskohtaisesti.
</p>
<p>
    Jos muutoksen syynä on ilmatilan ruuhkautuminen, lennonjohdon tai viranomaisen toimenpiteet, poikkeuksellinen sää, kuljetusyhtiöstä riippumattomaton
    poikkeuksellinen syy (mm. turvallisuusriski, odottamaton lentoturvallisuuteen vaikuttava puute tai lennosta vastaavan lentoliikenteen harjoittajan
    toimintaan vaikuttava työtaistelutilanne), tai vastaava syy, sovelletaan edellä mainittuja aikamääriä kaksinkertaisina.
</p>
<p>
    13.4. Virheilmoitus
</p>
<p>
    Matkustaja ei saa vedota virheeseen, ellei hän ilmoita virheestä matkanjärjestäjälle kohtuullisessa ajassa siitä, kun hän havaitsi virheen tai hänen olisi
    pitänyt se havaita. Virheestä, joka voidaan korjata matkakohteessa, on ilmoitettava oppaalle tai muulle matkakohteessa olevalle matkanjärjestäjän
    edustajalle niin pian kuin mahdollista.
</p>
<p>
    Mikäli matkanjärjestäjällä ei ole kohteessa opasta tai muuta edustajaa, on matkustajalla oikeus ilmoittaa virheestä myös elinkeinonharjoittajalle, jota
    matkanjärjestäjä on käyttänyt apunaan (eli alihankkijalle, esim. hotellille) ja jonka suorituksessa virhe ilmenee.
</p>
<p>
    Edellä mainittu ei kuitenkaan estä matkustajaa vetoamasta virheeseen, jos matkanjärjestäjä tai muu elinkeinonharjoittaja, jota matkanjärjestäjä on
    käyttänyt apunaan sopimuksen täyttämisessä, on menetellyt törkeän huolimattomasti tai kunnianvastaisesti ja arvottomasti.
</p>
<p>
    14. Virheen korjaaminen ja hinnanalennus
</p>
<p>
    14.1. Virheen korjaaminen
</p>
<p>
    Matkanjärjestäjän on korjattava virhe viivytyksettä omalla kustannuksellaan. Matkanjärjestäjä saa kuitenkin kieltäytyä korjaamisesta, jos siitä aiheutuisi
    kohtuuttomia kustannuksia tai kohtuutonta haittaa. Matkustaja saa kieltäytyä korjaamisesta, jos siitä aiheutuisi hänelle olennaista haittaa.
</p>
<p>
    14.2. Hinnanalennus
</p>
<p>
    Jos virhettä ei ole korjattu viivytyksettä matkanjärjestäjän kustannuksella tai jos virhe ei ole korjattavissa, matkustajalla on oikeus virheen merkitystä
    vastaavaan hinnanalennukseen.
</p>
<p>
    Jos matkustaja ei käytä matkaan sisältyvää kuljetusta tai muita palveluja tai käyttää niitä vain osittain, ei hänellä tällä perusteella ole oikeutta
    hinnanalennukseen.
</p>
<p>
    15. Vahingonkorvaus
</p>
<p>
    15.1. Matkustajalla on oikeus korvaukseen henkilö-, esine- ja varallisuusvahingosta, jonka matkanjärjestäjän suorituksessa oleva virhe on hänelle
    aiheuttanut, jos virhe tai vahinko johtuu matkanjärjestäjän tai matkanjärjestäjän sopimuksen täyttämisessä käyttämän muun elinkeinonharjoittajan
    (esimerkiksi kuljetusyhtiöt ja hotellit) huolimattomuudesta. Vapautuakseen korvausvastuusta matkanjärjestäjän on osoitettava, ettei huolimattomuutta ollut
    matkanjärjestäjän puolella.
</p>
<p>
    15.2. Korvattavia vahinkoja ovat esimerkiksi virheestä matkustajalle aiheutuneet ylimääräiset menot ja hyödyttömiksi käyneet menot sekä kotiinpaluun
    viivästymisen yhteydessä syntynyt ansionmenetys ja yöpymisen järjestämisestä aiheutuneet ylimääräiset kulut.
</p>
<p>
    15.3. Matkustajalla on kohdan 15.1. mukaisin perustein oikeus korvaukseen myös matkatavaroiden katoamisesta ja katoamisen aiheuttamasta käytön estymisestä.
    Matkatavaroiden kuljetuksen viivästymisestä johtuvasta tavaroiden käytön estymisestä matkustajalla on oikeus korvaukseen, jos siitä viivästyksen kesto ja
    muut seikat huomioon ottaen on katsottava aiheutuneen haittaa matkustajalle.
</p>
<p>
    15.4. Matkustajan on pyrittävä rajoittamaan vahingon määrää parhaansa mukaan. Matkanjärjestäjä ei vastaa vahingosta, joka on aiheutunut matkustajan omasta
    tuottamuksesta.
</p>
<p>
    Vahingonkorvausta voidaan sovitella, jos se on kohtuuton ottaen huomioon matkustajan mahdollinen myötävaikutus, matkanjärjestäjän mahdollisuudet ennakoida
    ja estää vahingon syntyminen sekä muut olosuhteet.
</p>
<p>
    15.5. Ilma-, meri- tai rautatiekuljetuksen aikana tapahtuneen vahingon osalta vahingonkorvaus määräytyy niiden säännösten tai sopimusten perusteella, joita
alihankkijana toimiva kuljetusyhtiö soveltaa omassa toiminnassaan. Matkanjärjestäjän korvausvastuuta määriteltäessä otetaan huomioon merikuljetuksen osalta<a href="http://www.finlex.fi/fi/laki/ajantasa/1994/19940674" target="_blank">merilain (674/1994) </a>ja rautatiekuljetuksen osalta    <a href="http://www.finlex.fi/fi/laki/ajantasa/2000/20001119" target="_blank">rautatiekuljetuslain (1119/2000) </a>säännökset tai kyseisiä kuljetuksia
koskevan kansainvälisen yleissopimuksen mukaiset korvausperusteet (    <a href="http://www.finlex.fi/fi/sopimukset/sopsteksti/1985/19850005" target="_blank">COTIF, SopS 5/1985</a>). Ilmakuljetusvahinkojen korvaukset
määräytyvät pääsääntöisesti    <a href="http://www.finlex.fi/fi/sopimukset/sopsteksti/2004/20040078" target="_blank">Montrealin yleissopimuksen (SopS 78/2004) </a>sekä
    <a href="http://eur-lex.europa.eu/resource.html?uri=cellar:6e1ae25e-b5cd-452a-b610-ba2f4c62401f.0018.01/DOC_2&amp;format=PDF" target="_blank">
        EY:n neuvoston asetuksen (N:o 2027/97)
    </a>
    mukaan. Elleivät yleissopimuksen ja asetuksen säännökset sovellu kuljetukseen, korvaukset määritellään Varsovan yleissopimuksen nojalla, jonka eri versiot
on saatettu Suomessa voimaan kuljetuksesta ilma-aluksessa annetulla lailla (289/1937),<a href="http://www.finlex.fi/fi/laki/alkup/1977/19770045" target="_blank">ilmakuljetussopimuslailla (45/1977) </a>tai    <a href="http://www.finlex.fi/fi/laki/ajantasa/1986/19860387" target="_blank">ilmakuljetuslailla (387/1986) </a>.
</p>
<p>
    15.6. Ylivoimaiset tilanteet
</p>
<p>
    Matkanjärjestäjä ei ole vastuussa vahingosta, joka aiheutuu ylivoimaisesta esteestä tai muusta ennalta-arvaamattomasta syystä, jota matkanjärjestäjä tai
    matkanjärjestäjän apunaan käyttämä elinkeinonharjoittaja ei olisi voinut estää mahdollisimman huolellisesti menetellenkään. Tällaisia syitä ovat
    esimerkiksi sotatoimet, luonnonmullistus, tarttuva tauti, lakko ja vastaavat tapahtumat.
</p>
<p>
    Matkanjärjestäjän on ilmoitettava matkustajalle viipymättä tällaisesta ylivoimaisesta tapahtumasta ja pyrittävä toimimaan niin, että matkustajan kärsimä
    vahinko jää mahdollisimman pieneksi.
</p>
<p>
    16. Korvausvaatimukset
</p>
<p>
    16.1. Virhettä koskevan huomautuksen tekemisestä matkanjärjestäjälle määrätään kohdassa 13.4.
</p>
<p>
    16.2. Korvausvaatimukset on esitettävä matkanjärjestäjälle kirjallisesti viimeistään kahden kuukauden kuluttua matkan päättymisestä, jos valitusajan
    pidentämiseen ei ole erityistä syytä.
</p>
<p>
    17. Riita-asiat
</p>
<p>
    17.1. Jos matkanjärjestäjä ja matkustaja eivät pääse yhteisymmärrykseen esimerkiksi sopimuksen tulkinnasta tai korvauksen määrästä, matkustaja voi saattaa
    riita-asian kuluttajariitalautakunnan käsiteltäväksi.
</p>
<p>
    17.2. Matkustaja voi saattaa riita-asian myös matkustajan kotipaikan käräjäoikeuden käsiteltäväksi.
</p>

<p>
    18. Vastuuvapautus
</p>
<p>
    18.1. Hyväksymällä ehdot sitoudut allekirjoittamaan vastuuvapautuslomakkeen ennen matkalle lähtöä.
</p>
  </body>
</html>
