<div id="header">
  <div class="row full">
    <div class="columns large-12 no-padding">
      <div id="logo-wrapper">
        <img id="logo" src="https://lh3.googleusercontent.com/-bUQlYkj29iQ/AAAAAAAAAAI/AAAAAAAAAD0/uwKk4cIFgBI/photo.jpg" />
        <br />
      </div>
    </div>
  </div>
</div>
<div id="content-top" class="row">
  <div class="row">
    <div class="columns large-6">
      <h1>Me</h1>
      <p>Me olemme A8 Entertainment Finland, turkulainen, vuonna 2014 perustettu
      tapahtumasuunnitteluun- ja toteutukseen erikoistunut yritys. Toimintamme tavoitteena on tarjota
      asiakkaallemme elämyksiä ja pyrkiä tuomaan erityisesti yöelämään uudenlaisia, elämyksellisiä
      ratkaisuja. </p>
      <p><strong class="emphasis">Tarjoamme asiakkaillemme</strong>
      tuoretta ja uudenlaista näkemystä toimialallamme.
    </div>
  </div>
  <div class="row">
    <div class="columns large-6 right">
      <h1>Palvelumme</h1>
      <ul id="services-list">
        <li>Kokonaisvaltainen audiovisuaalinen ja tekninen toteutus.</li>
        <li>Mainos- ja promootioratkaisut.</li>
        <li>Tehokkaasti organisoitu tapahtumanjärjestys.</li>
      </ul>
      <a style="font-size:13px;" href="#">lisätietoa palveluistamme</a>
      </p>
    </div>
  </div>
</div>

<div id="spacer">
  <div id="party-hands">
  </div>
</div>

<div id="content-bottom" class="row">
  <div class="row">
    <div class="columns large-6 small-7">
      <h1>Yhteystiedot</h1>
      <table id="contact-info">
        <tr>
          <td class="img"><img src="http://bvs.ch/images/placeholder.jpg" /></td>
          <td class="info">
            <strong>Konsta Leskelä</strong><br />
            +358400736007
            etunimi.sukunimi@a8e.fi
            Perustajajäsen
          </td>
        </tr>
        <tr><td class="img"><img src="http://bvs.ch/images/placeholder.jpg" /></td><td>Nimi yms</td></tr>
        <tr><td class="img"><img src="http://bvs.ch/images/placeholder.jpg" /></td><td>Nimi yms</td></tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="columns large-6 right">
      <h1>Ota yhteyttä</h1>
      <p>
      Kaipaatko jotain uutta Turun yöelämään. Ehdota, me toteutamme!
      Tarvitsetko apuamme tapahtuman järjestämisessä? Säästä aikaa ja samalla rahaa ulkoistamalla
      meille yksityisen, tai yrityksesi tapahtuman järjestys!
      </p>
      <form>
        <input type="text" placeholder="Sähköposti tai puhelinnumero" />
        <textarea style="height:100px;" placeholder="Tapahtuman tyyppi, koko, ajankohta yms."></textarea>
        <input class="button" type="submit" value="Ota yhteyttä!" />
      </form>
    </div>
  </div>
</div>

<div id="granpa"></div>
