// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
#logo-wrapper {
  background-color: #999;
  height: 650px;
  text-align: center;
  background-image: url('http://i.istockimg.com/file_thumbview_approve/44728284/2/stock-photo-44728284-blured-lighhts-from-peak-victoria-hong-kong.jpg');
  background-size: cover;
  position: relative;
}
#logo {
  width: 300px;
}
#crowd {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: image-url('crowd.png');
  height: 174px;
  width: 100%;
}
#content { margin-top: 30px; }


#party hands {
  background-color: #999;
  height: 600px;
  text-align: center;
  background-image: url('http://i.istockimg.com/file_thumbview_approve/36680666/2/stock-photo-36680666-people-on-music-concert-disco-party-vintage.jpg');
  background-size: cover;
  position: relative;
  }